{{ if .Params.areas }}
<div class="blog-post-areas text-secondary">
    <strong>{{ i18n "areas" }}:</strong>
    {{ range .Params.areas }}
        <a class="badge badge-primary" href="{{ "/areas/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
    {{ end }}
</div>
{{ end }}
{{ if .Params.purposes }}
<div class="blog-post-purposes text-secondary">
    <strong>{{ i18n "purposes" }}:</strong>
    {{ range .Params.purposes }}
        <a class="badge badge-primary" href="{{ "/purposes/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
    {{ end }}
</div>
{{ end }}
{{ if .Params.skills }}
<div class="blog-post-skills text-secondary">
    <strong>{{ i18n "skills" }}:</strong>
    {{ range .Params.skills }}
        <a class="badge badge-primary" href="{{ "/skills/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
    {{ end }}
</div>
{{ if .Params.tags }}
<div class="blog-post-tags text-secondary">
    <strong>{{ i18n "tags" }}:</strong>
    {{ range .Params.tags }}
        <a class="badge badge-primary" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
    {{ end }}
</div>
